[Desktop Entry]
Encoding=UTF-8
Name=Xfce 4 Taskbar Settings
Name[et]=Xfce 4 tegumiriba seaded
Name[fi]=Xfce 4 tehtäväpalkin asetukset
Name[fr]=Paramètres de la barre de tâches Xfce 4
Name[he]=הגדרות שורת המשימות Xfce 4
Name[ko]=Xfce 4 태스크바 설정
Name[lt]=Xfce 4 užduočių juostos nustatymai
Name[nl]=Instellingen Xfce 4 Taakbalk
Name[sk]=Nastavenia panelu úloh Xfce 4
Name[zh_CN]=Xfce 4 任务栏设置
Name[zh_TW]=Xfce 4 工作列設定
Name[eu]=Xfce 4 Ataza-barra Ezarpenak
Name[hu]=Xfce 4 feladatsáv beállítások
Comment=Taskbar Settings
Comment[et]=Tegumiriba seaded
Comment[fi]=Tehtäväpalkin asetukset
Comment[fr]=Paramétrage de la barre de tâches
Comment[sk]=Nastavenia panelu úloh
Comment[he]=הגדרות שורת המשימות
Comment[ko]=태스크바 설정
Comment[lt]=Užduočių juostos nustatymai
Comment[nl]=Instellingen voor de taakbalk
Comment[zh_CN]=设置 Xfce 4 的任务栏
Comment[zh_TW]=設定 Xfce 4 的工作列
Comment[eu]=Ataza-barra Ezarpenak
Comment[hu]=Feladatsáv beállítások
Exec=xfce-setting-show taskbar
Icon=xfce4-taskbar
Terminal=false
GenericName[sk]=Nastavenia panelu úloh
Type=Application
NoDisplay=true
Categories=X-XFCE;Settings;DesktopSettings;
OnlyShowIn=XFCE;
GenericName=Taskbar Settings
GenericName[et]=Tegumiriba seaded
GenericName[fi]=Tehtäväpalkin asetukset
GenericName[ko]=태스크바 설정
GenericName[lt]=Užduočių juostos nustatymai
GenericName[nl]=Instellingen Taakbalk
GenericName[zh_CN]=设置任务栏
GenericName[eu]=Ataza-barra Ezarpenak
GenericName[hu]=Feladatsáv beállítások
