[Desktop Entry]
Encoding=UTF-8
Name=Xfce 4 Settings Manager
Name[et]=Xfce 4 seadete haldur
Name[fi]=Xfce 4 Asetustenhallinta
Name[de]=Xfce 4 Einstellungsmanager
Name[fr]=Gestionnaire de paramètres de Xfce 4
Name[he]=מנהל ההגדרות של Xfce 4
Name[lt]=Xfce 4 nustatymų tvarkyklė
Name[ko]=Xfce 4 설정 도구
Name[nl]=Xfce 4 Configuratiemanager
Name[ro]=Xfce 4 administrator setări
Name[ru]=Менеджер настроек Xfce 4
Name[sk]=Správca nastavení Xfce 4
Name[zh_CN]=Xfce 4 设置管理器
Name[zh_TW]=Xfce 4 設定管理程式
Name[eu]=Xfce 4 Ezarpen Kudeatzailea
Name[hu]=Xfce 4 Beállítóközpont
Comment=Xfce 4 Settings Manager
Comment[et]=Xfce 4 seadistuse haldur
Comment[fi]=Xfce 4 Asetustenhallinta
Comment[de]=Xfce 4 Einstellungsmanager
Comment[fr]=Centre de gestion des paramètres de Xfce 4
Comment[he]=מנהל ההגדרות של Xfce 4
Comment[ko]=Xfce 4 설정 도구
Comment[sk]=Správca nastavení Xfce 4
Comment[lt]=Xfce 4 nustatymų tvarkyklė
Comment[nl]=Instellingen voor Xfce 4
Comment[ro]=Administratorul setărilor Xfce 4
Comment[ru]=Менеджер настроек Xfce 4
Comment[zh_CN]=Xfce 4 设置管理器
Comment[zh_TW]=設定 Xfce 4
Comment[eu]=Ezarpen Kudeatzailea
Comment[hu]=Xfce 4 Beállítóközpont
Exec=xfce-setting-show
Icon=xfce4-settings
Terminal=false
Type=Application
Categories=X-XFCE;Settings;DesktopSettings;
OnlyShowIn=XFCE;
GenericName=Settings Manager
GenericName[ko]=설정 도구
GenericName[lt]=Nustatymų tvarkyklė
GenericName[nl]=Configuratiemanager
GenericName[ro]=Administrator setări
GenericName[ru]=Настройки Xfce 4
GenericName[et]=Seadistuste haldur
GenericName[fi]=Asetustenhallinta
GenericName[zh_CN]=设置管理器
GenericName[eu]=Ezarpen Kudeatzailea
GenericName[hu]=Beállítóközpont
GenericName[sk]=Správca nastavení
