[Desktop Entry]
Encoding=UTF-8
Name=Xfce 4 Display Settings
Name[et]=Xfce 4 ekraani seadistused
Name[fi]=Xfce 4 Näytön Asetukset
Name[fr]=Paramètres d'affichage de Xfce 4
Name[he]=הגדרות תצוגה Xfce 4
Name[ko]=Xfce 4 화면 설정
Name[lt]=Xfce 4 ekrano nustatymai
Name[nl]=Instellingen Monitor
Name[ro]=Xfce 4 setări ecran
Name[ru]=Настройки экрана для Xfce 4
Name[sk]=Nastavenia obrazovky Xfce 4
Name[zh_CN]=Xfce 4 显示器设置
Name[zh_TW]=Xfce 4 顯示器設定
Name[eu]=Xfce 4 Pantaila Ezarpenak
Name[hu]=Xfce 4 kijelző beállítások
Comment=Display Settings
Comment[et]=Ekraani seadistused
Comment[fi]=Näytön Asetukset
Comment[fr]=Paramétrage de l'écran
Comment[he]=הגדרות תצוגה
Comment[ko]=화면 설정
Comment[sk]=Nastavenia obrazovky
Comment[lt]=Ekrano nustatymai
Comment[nl]=Monitorinstellingen
Comment[ro]=Setări ale ecranului
Comment[ru]=Настройки экрана
Comment[zh_TW]=设置显示器
Comment[zh_TW]=設定顯示器
Comment[eu]=Pantaila Ezarpenak
Comment[hu]=Kijelző beállítások
Exec=xfce-setting-show display
Icon=xfce4-display
Terminal=false
Type=Application
Categories=X-XFCE;Settings;DesktopSettings;
GenericName[sk]=Nastavenia obrazovky
OnlyShowIn=XFCE;
GenericName=Display Settings
GenericName[et]=Ekraani seadistused
GenericName[fi]=Näytön Asetukset
GenericName[ko]=화면 설정
GenericName[lt]=Ekrano nustatymai
GenericName[nl]=Instellingen Monitor
GenericName[ro]=Setări ecran
GenericName[ru]=Настройки экрана
GenericName[zh_CN]=设置显示器
GenericName[eu]=Pantaila Ezarpenak
GenericName[hu]=Kijelző beállítások
NoDisplay=true
