#! /usr/bin/make -f

tmp := $(CURDIR)/debian/gfxboot-theme-dsslive
themedir := $(tmp)/usr/share/gfxboot/themes/Dsslive

build:
	$(MAKE)

clean:
	dh_testdir
	dh_testroot
	$(MAKE) clean
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs usr/share/gfxboot/themes/Dsslive/po/bin
	install -m644  Makefile languages *.config *.fnt *.inc *.jpg \
		$(themedir)
	install -m755 keymapchars $(themedir)
	install -m644 po/bootloader.pot po/*.po po/Makefile po/README \
		$(themedir)/po
	install -m644 po/bin/* $(themedir)/po/bin
	#install -m644 install/bootlogo.tar.gz $(themedir)

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installchangelogs
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-indep:

binary: binary-arch binary-indep

.PHONY: build clean install binary-arch binary-indep binary
