[Desktop Entry]
Encoding=UTF-8
Name=Xfce 4 Mouse Settings
Name[et]=Xfce 4 hiire seaded
Name[fi]=Xfce 4 Hiiren Asetukset
Name[fr]=Paramètres de souris de Xfce 4
Name[he]=הגדרות עכבר Xfce 4
Name[ko]=Xfce 4 마우스 설정
Name[lt]=Xfce 4 pelės nustatymai
Name[nl]=Instellingen Muis
Name[ro]=Xfce 4 setări mouse
Name[ru]=Настройки мыши для Xfce 4
Name[sk]=Nastavenia myši Xfce 4
Name[zh_CN]=Xfce 4 鼠标设置
Name[zh_TW]=Xfce 4 滑鼠設定
Name[eu]=Xfce 4 Sagu Ezarpenak
Name[hu]=Xfce 4 egér beállítások
Comment=Mouse Settings
Comment[et]=Hiire seaded
Comment[fi]=Hiiren Asetukset
Comment[fr]=Paramétrage de la souris
Comment[he]=הגדרות עכבר
Comment[ko]=마우스 설정
Comment[sk]=Nastavenia myši
Comment[lt]=Pelės nustatymai
Comment[nl]=Instellingen voor de muis
Comment[ro]=Setări mouse
Comment[ru]=Настройки мыши
Comment[zh_TW]=设置鼠标
Comment[zh_TW]=設定滑鼠
Comment[eu]=Sagu Ezarpenak
Comment[hu]=Egér beállítások
Exec=xfce-setting-show mouse
Icon=xfce4-mouse
Terminal=false
Type=Application
Categories=X-XFCE;Settings;DesktopSettings;
GenericName[sk]=Nastavenia myši
OnlyShowIn=XFCE;
GenericName=Mouse Settings
GenericName[et]=Hiire seaded
GenericName[fi]=Hiiren Asetukset
GenericName[ko]=마우스 설정
GenericName[lt]=Pelės nustatymai
GenericName[nl]=Instellingen Muis
GenericName[ro]=Setări mouse
GenericName[ru]=Настройки мыши
GenericName[zh_CN]=设置鼠标
GenericName[eu]=Sagu Ezarpenak
GenericName[hu]=Egér beállítások
NoDisplay=true
