[Desktop Entry]
Version=1.0
Encoding=UTF-8

Name=DSL/PPPoE conf

Categories=Gtk;Application;Utility;
Exec=pppoeconf %F
Icon=/usr/share/pixmaps/pppoeconf.xpm
StartupNotify=true
Terminal=true
Type=Application
