[Desktop Entry]
Name=rox
Comment=ROX file manager
Exec=rox
Icon=/usr/share/rox/.DirIcon
Terminal=false
Type=Application
Categories=Application;FileManagers;System
