[Desktop Entry]
Encoding=UTF-8
Name=Xfce 4 Keyboard Settings
Name[et]=Xfce 4 klaviatuuri seaded
Name[fi]=Xfce 4 Näppäimistön Asetukset
Name[fr]=Paramètres de clavier de Xfce 4
Name[he]=הגדרות מקלדת Xfce 4
Name[ko]=Xfce 4 키보드 설정
Name[lt]=Xfce 4 klaviatūros nustatymai
Name[nl]=Instellingen Xfce 4 Toetsenbord 
Name[ro]=Xfce 4 setări tastatură
Name[ru]=Настройки клавиатуры для Xfce 4
Name[sk]=Nastavenia klávesnice Xfce 4
Name[zh_CN]=Xfce 4 键盘设置
Name[zh_TW]=Xfce 4 鍵盤設定
Name[eu]=Xfce 4 Teklatu Ezarpenak
Name[hu]=Xfce 4 billentyűzet beállítások
Comment=Keyboard Settings
Comment[et]=Klaviatuuri seaded
Comment[fi]=Näppäimistön Asetukset
Comment[fr]=Paramétrage du clavier
Comment[he]=הגדרות מקלדת
Comment[ko]=키보드 설정
Comment[sk]=Nastavenia klávesnice
Comment[lt]=Klaviatūros nustatymai
Comment[nl]=Instellingen voor het toetsenbord
Comment[ro]=Setări ale tastaturii
Comment[ru]=Настройки клавиатуры
Comment[zh_CN]=设置键盘
Comment[zh_TW]=設定鍵盤
Comment[eu]=Teklatu Ezarpenak
Comment[hu]=Billentyűzet beállítások
Exec=xfce-setting-show keyboard
Icon=xfce4-keyboard
Terminal=false
Type=Application
Categories=X-XFCE;Settings;DesktopSettings;
GenericName[sk]=Nastavenia klávesnice
OnlyShowIn=XFCE;
GenericName=Keyboard Settings
GenericName[et]=Klaviatuuri seaded
GenericName[fi]=Näppäimistön Asetukset
GenericName[ko]=키보드 설정
GenericName[lt]=Klaviatūros nustatymai
GenericName[nl]=Instellingen Toetsenbord
GenericName[ro]=Setări tastatură
GenericName[ru]=Настройки клавиатуры
GenericName[ru]=设置键盘
GenericName[eu]=Teklatu Ezarpenak
GenericName[hu]=Billentyűzet beállítások
NoDisplay=true
